/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/assets/
/web/css/
/web/js/
/web/media/
.sass-cache
/app/data/*
!app/data/.gitkeep

/.idea/*
!.idea/inspectionProfiles
!.idea/composerJson.xml
!.idea/webResources.xml
!.idea/symfony2.xml
!.idea/php.xml
!.idea/encodings.xml
