/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/var/annotations
/var/annotations/*
!var/annotations/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

.idea/
/web/assets/
/web/css/
/web/js/
/web/images/cache/

/docker/data/*
!docker/data/.gitkeep
/docker-compose.override.yml

/app/data/*
!/app/data/.gitkeep

!.gitkeep
.docker-sync/
