version: '3.4'
services:
    fpm:
        volumes:
            - eav-app:/app
            - ./src:/app/src:rw,delegated
            - ./app:/app/app:rw,delegated
            - ./web:/app/web:rw,delegated
    nginx:
        volumes:
            - eav-app:/app
            - ./src:/app/src:rw,delegated
            - ./app:/app/app:rw,delegated
            - ./web:/app/web:rw,delegated
volumes:
    eav-app:
        driver: local